/* CSS declarations go here */

.map-container, .pusher {
	width: 100%;
	max-width: 100%;
	height: 100%;
	z-index: -1;
}

.gottagocontainer {
	width: 100%;
	height: 100%;
}

#gottago-topbar {
	border-radius: 0;
	margin-bottom: 0;
}

#gottago-topbar :hover {
	cursor: pointer;
}